p {
    user-select: none;
    margin: 0;
    padding: 0;
}

div.game-over {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.366);
}

.button {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 15vw; 
    height: 7vw;
    min-width: 150px;
    min-height: 75px;
    border: 15px solid #1b79c6;
    background-color: #d4a20b;
}

div.refresh-button {
    min-width: 250px;
    min-height: 100px;
}

p.button-text {
    font-size: clamp(25px, 2vw, 100px);
}

p.additional {
    font-size: clamp(15px, 1vw, 50px);
}

p.end-message {
    font-size: 10vw; 
}

#setting-wheel {
    position: fixed;
    display: block;
    user-select: none;
    cursor: pointer;
    z-index: 4;
    top: 0;
    right: 0;
    font-size: clamp(60px, 10vw, 120px);
}

.settings {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    gap: 5vw;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.366);
}

.stats {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    top: 0;
    left: 0;
    box-sizing: border-box;
    margin: 1vw;
    font-size: clamp(30px, 2vw, 120px);
}

.back {
    position: absolute;
    user-select: none;
    cursor: pointer;
    top: 56vh;
    font-size: clamp(60px, 10vw, 120px);
}

.difficulty-display {
    display: none;
}

.difficulty-menu, .multiplayer-menu {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    gap: 5vw;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .difficulty-menu, .multiplayer-menu {
        flex-direction: column;
    }
    
    .back {
        top: 85vh;
    }
}